/* header style */
#header {
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #cccccc;
}
#header .header-center {
    width: 1280px;
    height: 80px;
    margin: 0 auto;
}
#header .header-center .head-logo {
    font-weight: 800;
    width: 120px;
    text-align: center;
    font-size: 20px;
    float: left;
    height: 80px;
}
#header .header-center .head-logo > a {
    line-height: 80px;
}
#header .header-center .head-nav {
    float: left;
    height: 80px;
    margin-left: 100px;
}
#header .header-center .head-nav .head-nav-ul {
    line-height: 80px;
}
#header .header-center .head-nav .head-nav-ul li {
    line-height: 80px;
    float: left;
}
#header .header-center .head-nav .head-nav-ul li a {
    padding: 0 20px;
    font-size: 16px;
    font-weight: 800;
    color: #333333;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#header .header-center .head-nav .head-nav-ul li a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #F2716C;
}
.head-nav-active {
    color: #EE5A4C !important;
}
#header .header-center .head-user {
    float: right;
    height: 80px;
}
#header .header-center .head-user > div {
    float: right;
    margin-top: 16px;
    margin-left: 10px;
}
#header .header-center .head-user .head-user-img {

}
#header .header-center .head-user .head-user-img > a > img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
#header .header-center .head-user .head-user-login {
    line-height: 50px;
    display: none;
}
#header .header-center .head-user .head-user-login > a {
    color: #666666;
    padding: 0 4px;
}
#header .header-center .head-user .head-user-nickname {
    line-height: 50px;
    /*display: none;*/
}
#header .header-center .head-user .head-user-nickname > a {
    color: #666666;
}

/* footer style */
#footer {
    min-width: 1280px;
    height: 100px;
    background: #eeeeee;
}
#footer .footer-center {
    margin: 0 auto;
    width: 1280px;
    height: 100px;
    color: #cccccc;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
}