#userinfo {
    min-width: 1280px;
    background-color: #2B2B2B;
    /*background-image: url("../images/bg-img.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: top center;*/
    padding: 140px 0 40px 0;
}
#userinfo .userinfo-center {
    width: 1280px;
    margin: 0 auto;
}
#userinfo .userinfo-center .head-img {
    width: 220px;
    float: left;
}
#userinfo .userinfo-center .head-img > img {
    width: 220px;
    background: #ffffff;
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
}
#userinfo .userinfo-center .head-img .change-button {
    text-align: center;
    height: 80px;
}

#userinfo .userinfo-center .info {
    width: 1060px;
    float: left;
    padding-left: 20px;
}
#userinfo .userinfo-center .info .base-info {
    width: 40%;
    float: left;
}
#userinfo .userinfo-center .info .base-info > div {
    padding-bottom: 5px;
    color: #FFFFFF;
}
#userinfo .userinfo-center .info .base-info > div:first-of-type {
    font-size: 30px;
}
#userinfo .userinfo-center .info .base-info > div > em {
    color: #ffffff;
}
#userinfo .userinfo-center .info .base-info > .btn {
    border-radius: 20px;
    border: 1px solid #3E3E3E;
    padding: 2px 10px;
    color: #ffffff;
    margin-top: 10px;
    background: #283854;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#userinfo .userinfo-center .info .base-info > .btn:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #3E3E3E;
    padding: 2px 14px;
}
#userinfo .userinfo-center .info .base-info > .btn > i {
    color: #ffffff;
}
#userinfo .userinfo-center .info .detail-info {
    width: 60%;
    float: left;
    color: #FFFFFF;
}
#userinfo .userinfo-center .info .detail-info tr td {
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px;
    border-bottom: 1px solid #3C3F41;
}
#userinfo .userinfo-center .info .detail-info tr td:first-of-type {
    width: 15%;
}
#userinfo .userinfo-center .info .detail-info tr td:last-of-type {
    width: 85%;
}
#userinfo .userinfo-center .info .detail-info tr td:first-of-type {
    text-align: right;
}
#userinfo .userinfo-center .info .detail-info tr:last-of-type td {
    border: none;
}
#userinfo .userinfo-center .info .detail-info tr td > em {
    color: #FFFFFF;
}
#userinfo .userinfo-center .info .detail-info tr td .hide-input {
    display: none;
}
#userinfo .userinfo-center .info .detail-info tr td input[type=text] {
    width: 100%;
    border: none;
    padding: 2px 4px;
}
#userinfo .userinfo-center .info .detail-info tr td label {
    font-weight: 400;
    border: none;
    padding: 2px 0;
    color: #FFFFFF;
}
#userinfo .userinfo-center .info .detail-info tr td label select {
    border: none;
    padding: 2px 4px;
    font-size: 12px;
    color: #666666;
}
#userinfo .userinfo-center .info .detail-info tr td textarea {
    color: #666666;
    padding: 2px 4px;
    font-size: 12px;
    resize: none;
    width: 100%;
    border: none;
}
#userinfo .userinfo-center .info .detail-info tr td button {
    font-size: 14px;
    margin: 10px 0 10px 10px;
    line-height: 20px;
    float: right;
    border-radius: 20px;
    border: 1px solid #3E3E3E;
    padding: 3px 20px;
    color: #ffffff;
    background: #283854;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}
#userinfo .userinfo-center .info .detail-info tr td button:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #3E3E3E;
    padding: 3px 30px;
}
#userinfo .userinfo-center .info .detail-info tr td button > i {
    color: #ffffff;
}
#userinfo .userinfo-center .info .detail-info tr td button > em {
    color: #FFFFFF;
    background: green;
    display: none;
}
#userinfo .userinfo-center .info .detail-info tr td #cansel-btn,#submit-btn {
    display: none;
}


#usernavs {
    min-width: 1280px;
    height: 50px;
    background: #FFFFFF;
}
#usernavs .usernavs-center {
    width: 1280px;
    margin: 0 auto;
    /*text-align: center;*/
    border-bottom: 2px solid #EEEEEE;
}
#usernavs .usernavs-center .nav {
    font-size: 18px;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    /*margin: 0 20px;*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#usernavs .usernavs-center .nav:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    /*border-bottom: 5px solid #283854;*/
}
#usernavs .usernavs-center .nav > i {
    color: #666666;
    padding-right: 10px;
}

#collect {
    min-width: 1280px;
    background: #FFFFFF;
    padding: 10px 0 40px 0;
}
#collect .collect-center {
    width: 1280px;
    margin: 0 auto;
}
#collect .collect-center .collect {
    padding: 20px 0;
    border-bottom: 1px solid #EEEEEE;
}
#collect .collect-center .collect .img {
    width: 160px;
    height: 120px;
    background: #EEEEEE;
    float: left;
}
#collect .collect-center .collect .msg {
    width: 900px;
    height: 120px;
    float: left;
}
#collect .collect-center .collect .msg .title {
    font-size: 18px;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
}
#collect .collect-center .collect .msg .title > a {
    color: #283854;
}
#collect .collect-center .collect .msg .content {
    height: 60px;
    padding: 0 20px;
    color: #3E3E3E;
}
#collect .collect-center .collect .msg .attr {
    height: 30px;
    padding: 0 20px;
}
#collect .collect-center .collect .msg .attr > div {
    float: left;
    margin-right: 18px;
    color: #3E3E3E;
    margin-top: 10px;
}
#collect .collect-center .collect .msg .attr > div > i {
    color: #3E3E3E;
}
#collect .collect-center .collect .control {
    width: 220px;
    height: 120px;
    float: left;
}
#collect .collect-center .collect .control > div {
    float: right;
    margin-top: 94px;
    padding: 2px 14px;
    margin-left: 5px;
    background: #3E3E3E;
    color: #ffffff;
    border-radius: 200px;
    cursor: pointer;
}
#collect .collect-center .collect .control > div:hover {
    background: #283854;
}