#userinfo {
    min-width: 1280px;
    background: #283854;
    padding: 40px 0;
}
#userinfo .userinfo-center {
    width: 1280px;
    margin: 0 auto;
}
#userinfo .userinfo-center .head-img {
    width: 220px;
    float: left;
}
#userinfo .userinfo-center .head-img > img {
    width: 220px;
    background: #ffffff;
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
}
#userinfo .userinfo-center .head-img .change-button {
    text-align: center;
    height: 80px;
}

#userinfo .userinfo-center .info {
    width: 1060px;
    float: left;
    padding-left: 20px;
}
#userinfo .userinfo-center .info .base-info {
    width: 40%;
    float: left;
}
#userinfo .userinfo-center .info .base-info > div {
    padding-bottom: 5px;
    color: #FFFFFF;
}
#userinfo .userinfo-center .info .base-info > div:first-of-type {
    font-size: 30px;
}
#userinfo .userinfo-center .info .base-info > div > em {
    color: #ffffff;
}
#userinfo .userinfo-center .info .base-info > button {
    border-radius: 20px;
    border: 1px solid #6F5499;
    padding: 2px 10px;
    color: #ffffff;
    margin-top: 10px;
    background: #283854;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#userinfo .userinfo-center .info .base-info > button:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #6F5499;
    padding: 2px 14px;
}
#userinfo .userinfo-center .info .base-info > button > i {
    color: #ffffff;
}
#userinfo .userinfo-center .info .detail-info {
    width: 60%;
    float: left;
}
#userinfo .userinfo-center .info .detail-info > div {

}
#userinfo .userinfo-center .info .detail-info > div > div {
    float: left;
    color: #FFFFFF;
    line-height: 30px;
    border-bottom: 1px solid #6F5499;
}
#userinfo .userinfo-center .info .detail-info > div > div:first-of-type {
    width: 20%;
    text-align: right;
}
#userinfo .userinfo-center .info .detail-info > div > div:last-of-type {
    width: 78%;
    margin-left: 2%;
}
#userinfo .userinfo-center .info .detail-info > div > button {
    margin: 10px 0;
    float: right;
    border-radius: 20px;
    border: 1px solid #6F5499;
    padding: 4px 20px;
    color: #ffffff;
    background: #283854;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #6F5499;
}
#userinfo .userinfo-center .info .detail-info > div > button:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #6F5499;
    padding: 4px 24px;
}
#userinfo .userinfo-center .info .detail-info > div > button > i {
    color: #ffffff;
}